USE [master]
GO
/****** Object:  Database [CNPM]    Script Date: 24/11/2025 6:08:32 CH ******/
CREATE DATABASE [CNPM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CNPM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CNPM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CNPM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CNPM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CNPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CNPM]
GO
/****** Object:  Table [dbo].[DIEMDANH]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDANH](
	[idLichTrinh] [int] NOT NULL,
	[idHocSinh] [int] NOT NULL,
	[thoiGianDon] [datetime] NULL,
	[thoiGianTra] [datetime] NULL,
	[trangThai] [int] NULL,
 CONSTRAINT [PK_DIEMDANH] PRIMARY KEY CLUSTERED 
(
	[idLichTrinh] ASC,
	[idHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMDUNG]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDUNG](
	[idDiemDung] [int] IDENTITY(1,1) NOT NULL,
	[tenDiemDung] [nvarchar](255) NOT NULL,
	[kinhDo] [float] NOT NULL,
	[viDo] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDiemDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[idHocSinh] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[lop] [nvarchar](50) NULL,
	[idPhuHuynh] [int] NULL,
	[idTuyen] [int] NULL,
	[idDiemDon] [int] NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHTRINH]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHTRINH](
	[idLichTrinh] [int] IDENTITY(1,1) NOT NULL,
	[idTuyen] [int] NULL,
	[idTaiXe] [int] NULL,
	[idXe] [int] NULL,
	[ngayChay] [date] NULL,
	[thuTuTramHienTai] [int] NULL,
	[thoiGianBatDau] [datetime] NULL,
	[thoiGianKetThuc] [datetime] NULL,
	[trangThai] [int] NULL,
	[trangThaiDiChuyen] [int] NULL,
	[idDiemDungHienTai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idLichTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUHUYNH]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUHUYNH](
	[idPhuHuynh] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](255) NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhuHuynh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[idQuanLy] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idQuanLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[idTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[taiKhoan] [nvarchar](255) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[vaiTro] [nvarchar](20) NOT NULL,
	[idPhuHuynh] [int] NULL,
	[idTaiXe] [int] NULL,
	[idQuanLy] [int] NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIXE]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIXE](
	[idTaiXe] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](255) NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENDUONG]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENDUONG](
	[idTuyenDuong] [int] IDENTITY(1,1) NOT NULL,
	[tenTuyen] [nvarchar](255) NULL,
	[moTa] [nvarchar](max) NULL,
	[khoangCach] [float] NULL,
	[thoiGianDuKien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTuyenDuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENDUONG_DIEMDUNG]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENDUONG_DIEMDUNG](
	[idTuyenDuong] [int] NOT NULL,
	[idDiemDung] [int] NOT NULL,
	[thuTu] [int] NOT NULL,
 CONSTRAINT [PK_TDD] PRIMARY KEY CLUSTERED 
(
	[idTuyenDuong] ASC,
	[idDiemDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[idThongBao] [int] IDENTITY(1,1) NOT NULL,
	[idPhuHuynh] [int] NOT NULL,
	[tieuDe] [nvarchar](255) NULL,
	[noiDung] [nvarchar](max) NULL,
	[loai] [nvarchar](50) NULL,
	[daXem] [bit] NULL,
	[thoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XEBUS]    Script Date: 24/11/2025 6:08:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEBUS](
	[idXe] [int] IDENTITY(1,1) NOT NULL,
	[bienSo] [nvarchar](255) NOT NULL,
	[sucChua] [int] NOT NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIEMDANH] ([idLichTrinh], [idHocSinh], [thoiGianDon], [thoiGianTra], [trangThai]) VALUES (1, 1, NULL, NULL, 0)
INSERT [dbo].[DIEMDANH] ([idLichTrinh], [idHocSinh], [thoiGianDon], [thoiGianTra], [trangThai]) VALUES (1, 2, NULL, NULL, 0)
INSERT [dbo].[DIEMDANH] ([idLichTrinh], [idHocSinh], [thoiGianDon], [thoiGianTra], [trangThai]) VALUES (1, 3, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[DIEMDUNG] ON 

INSERT [dbo].[DIEMDUNG] ([idDiemDung], [tenDiemDung], [kinhDo], [viDo]) VALUES (1, N'Bến xe Quận 8', 106.652, 10.734)
INSERT [dbo].[DIEMDUNG] ([idDiemDung], [tenDiemDung], [kinhDo], [viDo]) VALUES (2, N'Trạm Cầu Chà Và', 106.665, 10.748)
INSERT [dbo].[DIEMDUNG] ([idDiemDung], [tenDiemDung], [kinhDo], [viDo]) VALUES (3, N'Bưu điện Chợ Lớn', 106.655, 10.752)
SET IDENTITY_INSERT [dbo].[DIEMDUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[HOCSINH] ON 

INSERT [dbo].[HOCSINH] ([idHocSinh], [hoTen], [lop], [idPhuHuynh], [idTuyen], [idDiemDon], [trangThai]) VALUES (1, N'Nguyễn Văn Tèo', N'10A1', 1, 1, 1, 1)
INSERT [dbo].[HOCSINH] ([idHocSinh], [hoTen], [lop], [idPhuHuynh], [idTuyen], [idDiemDon], [trangThai]) VALUES (2, N'Lê Thị Tý', N'11B2', 2, 1, 2, 1)
INSERT [dbo].[HOCSINH] ([idHocSinh], [hoTen], [lop], [idPhuHuynh], [idTuyen], [idDiemDon], [trangThai]) VALUES (3, N'Phạm Văn Bin', N'10A1', 3, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[HOCSINH] OFF
GO
SET IDENTITY_INSERT [dbo].[LICHTRINH] ON 

INSERT [dbo].[LICHTRINH] ([idLichTrinh], [idTuyen], [idTaiXe], [idXe], [ngayChay], [thuTuTramHienTai], [thoiGianBatDau], [thoiGianKetThuc], [trangThai], [trangThaiDiChuyen], [idDiemDungHienTai]) VALUES (1, 1, 1, 1, CAST(N'2025-11-24' AS Date), 0, NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LICHTRINH] OFF
GO
SET IDENTITY_INSERT [dbo].[PHUHUYNH] ON 

INSERT [dbo].[PHUHUYNH] ([idPhuHuynh], [hoTen], [soDienThoai], [email], [trangThai]) VALUES (1, N'Trần Văn Phụ Huynh A', N'0911111111', N'parentA@test.com', 1)
INSERT [dbo].[PHUHUYNH] ([idPhuHuynh], [hoTen], [soDienThoai], [email], [trangThai]) VALUES (2, N'Lê Thị Phụ Huynh B', N'0922222222', N'parentB@test.com', 1)
INSERT [dbo].[PHUHUYNH] ([idPhuHuynh], [hoTen], [soDienThoai], [email], [trangThai]) VALUES (3, N'Phạm Văn Phụ Huynh C', N'0933333333', N'parentC@test.com', 1)
SET IDENTITY_INSERT [dbo].[PHUHUYNH] OFF
GO
SET IDENTITY_INSERT [dbo].[QUANLY] ON 

INSERT [dbo].[QUANLY] ([idQuanLy], [hoTen], [email], [trangThai]) VALUES (1, N'Admin Hệ Thống', N'admin@ssb.com', 1)
SET IDENTITY_INSERT [dbo].[QUANLY] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([idTaiKhoan], [taiKhoan], [matKhau], [vaiTro], [idPhuHuynh], [idTaiXe], [idQuanLy], [trangThai]) VALUES (1, N'admin', N'123456', N'QUAN_LY', NULL, NULL, 1, 1)
INSERT [dbo].[TAIKHOAN] ([idTaiKhoan], [taiKhoan], [matKhau], [vaiTro], [idPhuHuynh], [idTaiXe], [idQuanLy], [trangThai]) VALUES (2, N'driver', N'123456', N'TAI_XE', NULL, 1, NULL, 1)
INSERT [dbo].[TAIKHOAN] ([idTaiKhoan], [taiKhoan], [matKhau], [vaiTro], [idPhuHuynh], [idTaiXe], [idQuanLy], [trangThai]) VALUES (3, N'parent', N'123456', N'PHU_HUYNH', 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIXE] ON 

INSERT [dbo].[TAIXE] ([idTaiXe], [hoTen], [soDienThoai], [email], [trangThai]) VALUES (1, N'Nguyễn Văn Bác Tài', N'0909000111', N'driver@ssb.com', 1)
SET IDENTITY_INSERT [dbo].[TAIXE] OFF
GO
SET IDENTITY_INSERT [dbo].[TUYENDUONG] ON 

INSERT [dbo].[TUYENDUONG] ([idTuyenDuong], [tenTuyen], [moTa], [khoangCach], [thoiGianDuKien]) VALUES (1, N'Tuyến 01: Q8 - ĐH Sài Gòn', N'Đưa đón sinh viên khu vực Q8', 5.5, 30)
SET IDENTITY_INSERT [dbo].[TUYENDUONG] OFF
GO
INSERT [dbo].[TUYENDUONG_DIEMDUNG] ([idTuyenDuong], [idDiemDung], [thuTu]) VALUES (1, 1, 1)
INSERT [dbo].[TUYENDUONG_DIEMDUNG] ([idTuyenDuong], [idDiemDung], [thuTu]) VALUES (1, 2, 2)
INSERT [dbo].[TUYENDUONG_DIEMDUNG] ([idTuyenDuong], [idDiemDung], [thuTu]) VALUES (1, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[XEBUS] ON 

INSERT [dbo].[XEBUS] ([idXe], [bienSo], [sucChua], [trangThai]) VALUES (1, N'59B-123.45', 29, 1)
INSERT [dbo].[XEBUS] ([idXe], [bienSo], [sucChua], [trangThai]) VALUES (2, N'test', 111, 1)
SET IDENTITY_INSERT [dbo].[XEBUS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TAIKHOAN__B4C45318C2F9785B]    Script Date: 24/11/2025 6:08:33 CH ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD UNIQUE NONCLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__XEBUS__8563D8C6E9F83FCE]    Script Date: 24/11/2025 6:08:33 CH ******/
ALTER TABLE [dbo].[XEBUS] ADD UNIQUE NONCLUSTERED 
(
	[bienSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEMDANH] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[HOCSINH] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[LICHTRINH] ADD  DEFAULT (getdate()) FOR [ngayChay]
GO
ALTER TABLE [dbo].[LICHTRINH] ADD  DEFAULT ((0)) FOR [thuTuTramHienTai]
GO
ALTER TABLE [dbo].[LICHTRINH] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[LICHTRINH] ADD  DEFAULT ((0)) FOR [trangThaiDiChuyen]
GO
ALTER TABLE [dbo].[PHUHUYNH] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[QUANLY] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[TAIXE] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[THONGBAO] ADD  DEFAULT ((0)) FOR [daXem]
GO
ALTER TABLE [dbo].[THONGBAO] ADD  DEFAULT (getdate()) FOR [thoiGian]
GO
ALTER TABLE [dbo].[XEBUS] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FK_DD_HS] FOREIGN KEY([idHocSinh])
REFERENCES [dbo].[HOCSINH] ([idHocSinh])
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FK_DD_HS]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FK_DD_LT] FOREIGN KEY([idLichTrinh])
REFERENCES [dbo].[LICHTRINH] ([idLichTrinh])
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FK_DD_LT]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HS_PH] FOREIGN KEY([idPhuHuynh])
REFERENCES [dbo].[PHUHUYNH] ([idPhuHuynh])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HS_PH]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HS_TUYEN] FOREIGN KEY([idTuyen])
REFERENCES [dbo].[TUYENDUONG] ([idTuyenDuong])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HS_TUYEN]
GO
ALTER TABLE [dbo].[LICHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_LT_TUYEN] FOREIGN KEY([idTuyen])
REFERENCES [dbo].[TUYENDUONG] ([idTuyenDuong])
GO
ALTER TABLE [dbo].[LICHTRINH] CHECK CONSTRAINT [FK_LT_TUYEN]
GO
ALTER TABLE [dbo].[LICHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_LT_TX] FOREIGN KEY([idTaiXe])
REFERENCES [dbo].[TAIXE] ([idTaiXe])
GO
ALTER TABLE [dbo].[LICHTRINH] CHECK CONSTRAINT [FK_LT_TX]
GO
ALTER TABLE [dbo].[LICHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_LT_XE] FOREIGN KEY([idXe])
REFERENCES [dbo].[XEBUS] ([idXe])
GO
ALTER TABLE [dbo].[LICHTRINH] CHECK CONSTRAINT [FK_LT_XE]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_PH] FOREIGN KEY([idPhuHuynh])
REFERENCES [dbo].[PHUHUYNH] ([idPhuHuynh])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_PH]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_QL] FOREIGN KEY([idQuanLy])
REFERENCES [dbo].[QUANLY] ([idQuanLy])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_QL]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_TX] FOREIGN KEY([idTaiXe])
REFERENCES [dbo].[TAIXE] ([idTaiXe])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_TX]
GO
ALTER TABLE [dbo].[TUYENDUONG_DIEMDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TDD_DIEM] FOREIGN KEY([idDiemDung])
REFERENCES [dbo].[DIEMDUNG] ([idDiemDung])
GO
ALTER TABLE [dbo].[TUYENDUONG_DIEMDUNG] CHECK CONSTRAINT [FK_TDD_DIEM]
GO
ALTER TABLE [dbo].[TUYENDUONG_DIEMDUNG]  WITH CHECK ADD  CONSTRAINT [FK_TDD_TUYEN] FOREIGN KEY([idTuyenDuong])
REFERENCES [dbo].[TUYENDUONG] ([idTuyenDuong])
GO
ALTER TABLE [dbo].[TUYENDUONG_DIEMDUNG] CHECK CONSTRAINT [FK_TDD_TUYEN]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PH] FOREIGN KEY([idPhuHuynh])
REFERENCES [dbo].[PHUHUYNH] ([idPhuHuynh])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FK_TB_PH]
GO
ALTER TABLE [dbo].[XEBUS]  WITH CHECK ADD CHECK  (([sucChua]>(0)))
GO
USE [master]
GO
